{% extends "safe/base.html" %}


{% block content %}{{ block.super }}
<div id="alert" style="display:none;">message</div>
<form id="add_credential" action="{{ url_credential_add }}" method="post">
   <table>
    <tr><td colspan="2"><input type="submit" value="Add Credential" class="btn btn-primary"></input></td></tr>  
    {{ form }}
   </table>
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
   $("#add_credential").submit(function(e)
   {
      var postData = $(this).serializeArray();
      var formURL = $(this).attr("action");
      $.ajax({
          type: "POST",
          url: formURL,
          data: postData,
          dataType: "json",
          success: function(data, textStatus, jqXHR)
          {
             $("#alert").show( "fast", function() {
                 if(data.message) { $( this ).html("Key Saved"); }
                 else if( data.errors ) 
                 {  
                     var error_string = "<ul>";
                     $.each(data.errors, function(key, value) {
                        $.each(value, function() {
                           error_string = error_string + "<li>" + key + ":  "+ value + "</li>";
                        });
                    });
                    $( this ).html("Error with save " + error_string);
                 } 
                 else {  $( this ).html("Unexpected Error"); }                    
             }).delay(2000).fadeOut( "5000");  ;  
          },
          error: function (jqXHR, textStatus, errorThrown)
          {
             $("#alert").show( "fast", function() {
                 $( this ).html("Error with save " + data.errors).delay(4000).fadeOut( "slow");                     
             });
          }
      }); 
      e.preventDefault();
  });
});
</script>
{% endblock %}