{% extends "safe/base.html" %}


{% block content %}{{ block.super }}
  <h2>Generate Key</h2>
  <button id="generate" class="btn btn-primary">Generate Keys</button><div id="time-report"></div>
  <div class="alert alert alert-danger" id="alert" style="display:none;">message</div>
  
  <input type="checkbox" name="checkbox" id="import_key" value="value">
  <label for="import_key">Import Key</label>

  <textarea id="privkey" rows="15" style="width:100%"></textarea>
  <textarea id="pubkey" rows="6" style="width:100%"></textarea>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#pubkey').val(get_pubkey());
    $('#privkey').val(get_privkey());

    //Change the key size value for new keys
    $(".change-key-size").each(function (index, value) {
      var el = $(value);
      var keySize = el.attr('data-value');
      el.click(function (e) {
        var button = $('#key-size');
        button.attr('data-value', keySize);
        button.html(keySize + ' bit <span class="caret"></span>');
        e.preventDefault();
      });
    });

    // Execute when they click the button.
    $('#execute').click(function () {

      // Create the encryption object.
      var crypt = new JSEncrypt();

      // Set the private.
      crypt.setPrivateKey($('#privkey').val());
      //return;
      // If no public key is set then set it here...
      var pubkey = $('#pubkey').val();
      if (!pubkey) {
        $('#pubkey').val(crypt.getPublicKey());
      }

      // Get the input and crypted values.
      var input = $('#input').val();
      var crypted = $('#crypted').val();

      // Alternate the values.
      if (input) {
        $('#crypted').val(crypt.encrypt(input));
        $('#input').val('');
      }
      else if (crypted) {
        var decrypted = crypt.decrypt(crypted);
        if (!decrypted)
          decrypted = 'This is a test!';
        $('#input').val(decrypted);
        $('#crypted').val('');
      }
    });

    // If they wish to generate new keys.
    $('#generate').click(function () {
        
      var sKeySize = "2048";
      var sKeySize = "1024";
      var keySize = parseInt(sKeySize);
      crypt = new JSEncrypt({default_key_size: keySize});
      var async = true;
      var dt = new Date();
      var time = -(dt.getTime());

      function saveKey(pubkey, privkey)
      {
          var data = { pubkey: pubkey, };
          $.ajax({
              type: "POST",
              url: '{{ url_key_add }}',
              data: data,
              dataType: "json",
              success: function(data, textStatus, jqXHR)
              {
                 //data - response from server
                 $("#alert").show( "fast", function() {
                     if(data.message) {
                         set_privkey(privkey);
                         set_pubkey(pubkey);
                         $('#privkey').val(privkey);
                         $('#pubkey').val(pubkey);
                         $( this ).html("Key Saved");
                     } 
                     else if( data.errors ) 
                     {  
                         var error_string = "<ul>";
                         
                         $.each(data.errors, function(key, value) {
                            $.each(value, function() {
                               error_string = error_string + "<li>" + key + ":  "+ value + "</li>";
                            });
                        });
                        
                        $( this ).html("Error with save " + error_string); 
                        
                     } 
                     else {  $( this ).html("Unexpected Error"); }                    
                 }).delay(2000).fadeOut( "5000");  ;  
              },
              error: function (jqXHR, textStatus, errorThrown)
              {
                 //data - response from server
                 $("#alert").show( "fast", function() {
                     $( this ).html("Error with save " + data.errors).delay(4000).fadeOut( "slow");                     
                 });
              }
          }); 
      }
      
      
      $('#time-report').text('.');
      if ($("#import_key").is(':checked'))
      {
           var pubkey = $('#pubkey').val();
           var privkey = $('#privkey').val();
           saveKey(pubkey, privkey);
      }
      else
      {
          var load = setInterval(function () {
              var text = $('#time-report').text();
              $('#time-report').text(text + '.');
          }, 500);
          crypt.getKey(function () {
                  clearInterval(load);
                  dt = new Date();
                  time += (dt.getTime());
                  $('#time-report').text('Generated in ' + time + ' ms');
                  var pubkey = crypt.getPublicKey();
                  var privkey = crypt.getPrivateKey();
                  saveKey(pubkey, privkey);
          });
      }
      return;
  });
    
});
</script>
{% endblock %}