{% extends "base.html" %}

{% block extra_head %}{{ block.super }}
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lawnchair-0.6.3/src/Lawnchair.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lawnchair-0.6.3/src/adapters/dom.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}vendor/jsencrypt/src/jsencrypt.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/cryptoJS-v3.1.2/rollups/sha1.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/safe.js"></script>
{% endblock %}


{% block content %}
<noscript>Javascript must be enabled for this tool to work.</noscript>
<nav>
    <ul class="nav nav-pills">
        <li><a href="{% url 'safe-key' %}">Generate Key</a></li>
        <li><a href="{% url 'safe-credential-add' %}">Add Credential</a></li>
        <li><a href="{% url 'safe-credential-list' %}">List Credentials</a></li>
    </ul>
</nav>
{% endblock %}
