{% extends "safe/base.html" %}

{% block extra_head %}{{ block.super }}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}{{ block.super }}
    <h2>Credential Edit</h2>

  <div class="alert" id="alert" style="display:none;"></div>
<p><a id="view-credential" href="{% url 'safe-credential-view-json' credential.slug %}" class="btn btn-warning"><i class="icon-white icon-eye-open"></i> View</a> <span id="unencrypted-secret">&#149;&#149;&#149;&#149;&#149;&#149;</span></p>
{{ form.as_p }}

<div><a href="{% url 'safe-credential-delete' credential.slug %}" class="btn btn-danger"><i class="icon-white icon-fire"></i> Delete</a>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {

    $('#view-credential').click(function (e) {

      var formURL = $(this).attr("href");
      $.ajax({
          type: "GET",
          url: formURL,
          data: {},
          dataType: "json",
          success: function(data, textStatus, jqXHR)
          {
             $("#alert").show( "fast", function() {
                 console.dir( data);
                 if(data.message) { 
                     var text_plus_hash = local_rsa_decrypt(data.encrypted_secret);
                     if (text_plus_hash){
                         var x  = text_plus_hash.split("$");
                         var hash = x.shift();
                         var text = x.join("$");
                         if (hash == CryptoJS.SHA1(text)){
                             $('#unencrypted-secret').html(text);
                             report_success(this, "Password Found");
                         }
                         else
                         {report_error(this, {"decryption":["Hashes do not match."]});}
                     }
                     else
                     { report_error(this, {"decryption":["Unable to decrypt."]}); }
                 }
                 else if( data.errors ) 
                 {   report_error(this, data.errors);  } 
                 else {  $( this ).html("Unexpected Error"); }
             }).delay(2000).fadeOut( "5000");
          },
          error: function (jqXHR, textStatus, errorThrown)
          {
             $("#alert").show( "fast", function() {
                report_error(this, {"connection":["Connection to server broken"]}); 
             }).delay(4000).fadeOut( "slow");
          }
      }); 
      e.preventDefault();


  });
});
</script>
{% endblock %}