{% extends "safe/base.html" %}


{% block content %}{{ block.super }}
    <h2>Credential Edit</h2>
  
  <div class="alert alert alert-danger" id="alert" style="display:none;">message</div>
  

<p>{{ credential.title }}</p>
<p>{{ credential.tags }}</p>
<p><a id="view-credential" href="{% url 'safe-credential-view-json' credential.slug %}">View</a> <span id="unencrypted-secret">&#149;&#149;&#149;&#149;&#149;&#149;</span></p>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {

    $('#view-credential').click(function (e) {

      var formURL = $(this).attr("href");
      $.ajax({
          type: "GET",
          url: formURL,
          data: {},
          dataType: "json",
          success: function(data, textStatus, jqXHR)
          {
             $("#alert").show( "fast", function() {
                 if(data.message) { 
                     var text_plus_hash = local_rsa_decrypt(data.encrypted_secret);
                     
                     var x  = text_plus_hash.split("$");
                     var hash = x.shift();
                     var text = x.join("$");
                     
                     $('#unencrypted-secret').html(text);
                     $( this ).html("Password Found"); 
                 }
                 else if( data.errors ) 
                 {  
                     var error_string = "<ul>";
                     $.each(data.errors, function(key, value) {
                        $.each(value, function() {
                           error_string = error_string + "<li>" + key + ":  "+ value + "</li>";
                        });
                    });
                    $( this ).html("Error with save " + error_string);
                 } 
                 else {  $( this ).html("Unexpected Error"); }
             }).delay(2000).fadeOut( "5000");
          },
          error: function (jqXHR, textStatus, errorThrown)
          {
             $("#alert").show( "fast", function() {
                 $( this ).html("Error with save " + data.errors).delay(4000).fadeOut( "slow");                     
             });
          }
      }); 
      e.preventDefault();


  });
});
</script>
{% endblock %}