{% extends "safe/base.html" %}


{% block content %}{{ block.super }}
    <h2>Credentials <a href="{% url 'safe-credential-add' %}" class="btn btn-primary btn-mini"><i class="icon-white icon-plus-sign"></i> Add</a></h2>
    <table class="table table-striped">
        <tr><th>Title</th>
            <th>Login Name</th>
            <th>Slug</th>
            <th>Url</th>
            <th>Tags</th></tr>
        {% for credential in credentials %} 
        <tr><td><a href="{% url 'safe-credential-edit'  credential.slug %}">{{ credential.title }}</a></td>
            <td>{{ credential.login_name }}</td>
            <td>{{ credential.slug }}</td>
            <td>{{ credential.url }}</td>
            <td>{{ credential.tags }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block extra_js %}
{% endblock %}