{% extends "safe/base.html" %}


{% block content %}{{ block.super }}
    <h2>Credentials</h2>
    <table class="table table-striped">
        <tr><th>Title</th>
            <th>Login Name</th>
            <th>Slug</th>
            <th>Url</th>
            <th>Tags</th></t></tr>
        {% for credential in credentials %} 
        <tr><td>{{ credential.title }}</td>
            <td>{{ credential.login_name }}</td>
            <td>{{ credential.slug }}</td>
            <td>{{ credential.url }}</td>
            <td>{{ credential.tags }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block extra_js %}
{% endblock %}